body {
    background-color: #0a0a23;
  }
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    height: 35px;
    cursor: pointer;
    color: #0a0a23;
    background-color: #ec4a4a;
    background-image: linear-gradient(#ec4a4a, #ec4a4a);
    border: 3px solid #ec4a4a;
  
  }

  button:hover{
    background-color: cadetblue;
  }


  #controls{
    background-color: #0a0a23;
  }

  img{
    margin-left: 480px;
    width: 14%;
  }